-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: police_fi_dev
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `casecounter`
--

DROP TABLE IF EXISTS `casecounter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `casecounter` (
  `year` int NOT NULL,
  `last` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`year`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `casecounter`
--

LOCK TABLES `casecounter` WRITE;
/*!40000 ALTER TABLE `casecounter` DISABLE KEYS */;
INSERT INTO `casecounter` VALUES (26,5);
/*!40000 ALTER TABLE `casecounter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ficard`
--

DROP TABLE IF EXISTS `ficard`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ficard` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `caseNumber` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `yearYY` int NOT NULL,
  `seq` int NOT NULL,
  `firstName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `lastName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subjectType` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `incidentType` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `FICard_caseNumber_key` (`caseNumber`),
  KEY `FICard_firstName_idx` (`firstName`),
  KEY `FICard_lastName_idx` (`lastName`),
  KEY `FICard_subjectType_idx` (`subjectType`),
  KEY `FICard_incidentType_idx` (`incidentType`),
  KEY `FICard_createdAt_idx` (`createdAt`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ficard`
--

LOCK TABLES `ficard` WRITE;
/*!40000 ALTER TABLE `ficard` DISABLE KEYS */;
/*!40000 ALTER TABLE `ficard` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fiphoto`
--

DROP TABLE IF EXISTS `fiphoto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fiphoto` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fiCardId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `url` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `FIPhoto_fiCardId_fkey` (`fiCardId`),
  CONSTRAINT `FIPhoto_fiCardId_fkey` FOREIGN KEY (`fiCardId`) REFERENCES `ficard` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fiphoto`
--

LOCK TABLES `fiphoto` WRITE;
/*!40000 ALTER TABLE `fiphoto` DISABLE KEYS */;
INSERT INTO `fiphoto` VALUES ('0b4e9ae4-bb0a-4d8f-b222-681cbee5dadb','244951a6-0b67-48cd-8fc7-04d52cbe231a','/uploads/1773685295986-4no5yz-EG_1.JPG','2026-03-16 18:21:36.070'),('8971973f-a288-4770-b536-839064b328e3','47e8d762-73ea-4388-ad02-6430e9d26e5a','/uploads/1773356621917-gt8n3u-poster.png','2026-03-12 23:03:42.025'),('b374dc2a-3366-4454-8b24-cc60c6a9494b','47e8d762-73ea-4388-ad02-6430e9d26e5a','/uploads/1773356583794-563dl5-image_3.jpg','2026-03-12 23:03:03.891');
/*!40000 ALTER TABLE `fiphoto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permission`
--

DROP TABLE IF EXISTS `permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permission` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Permission_code_key` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permission`
--

LOCK TABLES `permission` WRITE;
/*!40000 ALTER TABLE `permission` DISABLE KEYS */;
INSERT INTO `permission` VALUES ('cmmp9yogd0003qc7o38l263z6','ADMIN_USERS'),('cmmnvuci40002qc0ov9xqv0qz','REPORT_DELETE)'),('cmmnvuci40000qc0ozpep606d','REPORT_READ)'),('cmmnvuci40001qc0ojjgi43od','REPORT_WRITE)');
/*!40000 ALTER TABLE `permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Role_name_key` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES ('cmmnvucic0005qc0ozkt0x0li','admin'),('cmmnvucic0004qc0odjvm48dn','officer'),('cmmnvucib0003qc0o5tik9opj','viewer');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rolepermission`
--

DROP TABLE IF EXISTS `rolepermission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rolepermission` (
  `roleId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `permissionId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`roleId`,`permissionId`),
  KEY `RolePermission_permissionId_fkey` (`permissionId`),
  CONSTRAINT `RolePermission_permissionId_fkey` FOREIGN KEY (`permissionId`) REFERENCES `permission` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `RolePermission_roleId_fkey` FOREIGN KEY (`roleId`) REFERENCES `role` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rolepermission`
--

LOCK TABLES `rolepermission` WRITE;
/*!40000 ALTER TABLE `rolepermission` DISABLE KEYS */;
INSERT INTO `rolepermission` VALUES ('cmmnvucib0003qc0o5tik9opj','cmmnvuci40000qc0ozpep606d'),('cmmnvucic0004qc0odjvm48dn','cmmnvuci40000qc0ozpep606d'),('cmmnvucic0005qc0ozkt0x0li','cmmnvuci40000qc0ozpep606d'),('cmmnvucic0004qc0odjvm48dn','cmmnvuci40001qc0ojjgi43od'),('cmmnvucic0005qc0ozkt0x0li','cmmnvuci40001qc0ojjgi43od'),('cmmnvucic0005qc0ozkt0x0li','cmmnvuci40002qc0ov9xqv0qz'),('cmmnvucic0005qc0ozkt0x0li','cmmp9yogd0003qc7o38l263z6');
/*!40000 ALTER TABLE `rolepermission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `passwordHash` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_username_key` (`username`),
  UNIQUE KEY `User_email_key` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES ('cmmnvucnx0006qc0o8byf52f6','admin','admin@example.com','$2b$12$HeRyG6RZT0BH6ybg5FT.cO8kC8VltKoiaBaTnO4uPs608U86yo9Cu',1,'2026-03-12 19:50:27.741','2026-03-13 22:42:29.856'),('cmmpgjwu20000qccwrriq4qex','shalini','ssaxena@wavesystems.com','$2b$12$3shGoINJSkEN2lhVoIdneu.EK9oNkk6mUEnCQTrXU5SlDchwgnAKy',1,'2026-03-13 22:17:58.779','2026-03-13 22:17:58.779'),('cmmphsh3w0001qccwfza0032h','blehga','blehga@wavesystems.in','$2b$12$ydkcF0wLWsvI5UmdHnFZQORZpFpsZxaQ3ufss.K048M7jDUu8yM5K',1,'2026-03-13 22:52:37.916','2026-03-16 21:18:03.428');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userrole`
--

DROP TABLE IF EXISTS `userrole`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userrole` (
  `userId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `roleId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`userId`,`roleId`),
  KEY `UserRole_roleId_fkey` (`roleId`),
  CONSTRAINT `UserRole_roleId_fkey` FOREIGN KEY (`roleId`) REFERENCES `role` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `UserRole_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userrole`
--

LOCK TABLES `userrole` WRITE;
/*!40000 ALTER TABLE `userrole` DISABLE KEYS */;
INSERT INTO `userrole` VALUES ('cmmphsh3w0001qccwfza0032h','cmmnvucib0003qc0o5tik9opj'),('cmmpgjwu20000qccwrriq4qex','cmmnvucic0004qc0odjvm48dn'),('cmmnvucnx0006qc0o8byf52f6','cmmnvucic0005qc0ozkt0x0li');
/*!40000 ALTER TABLE `userrole` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-18 12:40:13
